<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script type="text/javascript" src="js/materialize.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="sudoku.js" defer></script>
  </head>
  <body>
    <div id="main-cnt">
      <h1>Numpad Sudoku</h1>
      <div class="button-cnt" v-bind:class="{ hidden: isGridVisible }">
        <button v-for="difficulty in difficulties" v-on:click="showGrid(difficulty)" class="waves-effect waves-light btn difficulty-sel">
          {{ difficulty }}
        </button>
      </div>
      <div class="container sudoku-grid" v-bind:class="{ faded: !isGridVisible }">
        <table>
          <tr v-for="row in sudokuGrid">
            <td v-for="cell in row" v-bind:class="cell ? [cell.clueClass, cell.highlightedClass, cell.boxNumClass] : ''">
              {{ cell ? cell.val : '' }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>