table {
	width:  252px;
	height: 254px;
	border: black 2px solid;
	border-collapse: collapse;
}

td:nth-child(3), td:nth-child(6) {
	border-right: 2px solid;
}

tr:nth-child(3), tr:nth-child(6) {
	border-bottom: 2px solid;
}

table tr td {
	text-align: center;
	border-right: 1px solid;
	border-bottom: 1px solid;
	width: 28px;
	height: 28px;
}

.highlighted {
	background-color: #72a8ff;
}

.error {
	background-color: #ff0000;
}


.clue {
	font-weight: bold;
}